<div class="project-card">
    <div class="project-name">
        <h3>
            {{ project.name }}
        </h3>
    </div>
    <div class="project_info">
    <span class="project_info__key">
      <h3>{{ project.key }}</h3>
    </span>
        <span class="project-info__link">
      <a [href]="project.url" target="_blank">{{ project.url }}</a>
    </span>
    </div>

    <div class="project-card__btns">
        <button class="download-btn" (click)="ps.updateProject(project.key)">
            @if (isProjectDownloaded) {
                Download
            } @else {
                Update
            }
        </button>
        <button class="analyze_btn">
            <img src="/analyze.svg" alt="icon" class="analyze_icon">
        </button>
    </div>
</div>
